# Build files
/bin/
/build/
debug/
release/

# OS files
.DS_Store
[Tt]humbs.db

# Editor files
.vscode/
*.code-workspace

# CMake stuff - thanks to
# https://github.com/github/gitignore/blob/main/CMake.gitignore
.cmake/
CMakeFiles/
CMakeScripts/
Testing/
_deps/
CMakeLists.txt.user
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeUserPresets.json
[Mm]akefile

# Doxygen stuff
/docs/*
!Doxyfile

# C stuff - thanks to
# https://github.com/github/gitignore/blob/main/C.gitignore

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.so
*.so.*
*.dylib
*.dll

# Executables
*.out
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.idb
*.pdb
*.dSYM/
*.su
